<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <virtualType name="Emakina\Blog\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">emakina_blog_posts</argument>
            <argument name="resourceModel" xsi:type="string">Emakina\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="emakinablog_post_grid_data_source" xsi:type="string">Emakina\Blog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Emakina\Blog\Model\ResourceModel\Comment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">emakina_blog_comments</argument>
            <argument name="resourceModel" xsi:type="string">Emakina\Blog\Model\ResourceModel\Comment</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="emakinablog_comment_grid_data_source" xsi:type="string">Emakina\Blog\Model\ResourceModel\Comment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="EmakinaBlogImageUploader" type="Emakina\Blog\Model\Uploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">Emakina\Blog\Model\Uploader::IMAGE_TMP_PATH</argument>
            <argument name="basePath" xsi:type="const">Emakina\Blog\Model\Uploader::IMAGE_PATH</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="EmakinaBlogModelPostStatusIsActive" type="Emakina\Blog\Model\Status\Options">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="1" xsi:type="array">
                    <item name="value" xsi:type="const">Emakina\Blog\Model\Post::BLOG_IS_ACTIVE_TRUE</item>
                    <item name="label" xsi:type="string" translate="true">Yes</item>
                </item>
                <item name="2" xsi:type="array">
                    <item name="value" xsi:type="const">Emakina\Blog\Model\Post::BLOG_IS_ACTIVE_FALSE</item>
                    <item name="label" xsi:type="string" translate="true">No</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Emakina\Blog\Model\UploaderPool">
        <arguments>
            <argument name="uploaders" xsi:type="array">
                <item name="image" xsi:type="string">EmakinaBlogImageUploader</item>
            </argument>
        </arguments>
    </type>

    <type name="Emakina\Blog\Controller\Adminhtml\Post\Upload">
        <arguments>
            <argument name="uploader" xsi:type="object">EmakinaBlogImageUploader</argument>
        </arguments>
    </type>

    <type name="Emakina\Blog\Ui\Component\Listing\Column\Image">
        <arguments>
            <argument name="postModel" xsi:type="object">EmakinaBlogImageUploader</argument>
        </arguments>
    </type>

    <type name="Emakina\Blog\Controller\Adminhtml\Post\MassDelete">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 record(s) have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting record(s).</argument>
        </arguments>
    </type>
    <type name="Emakina\Blog\Controller\Adminhtml\Comment\MassDelete">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 record(s) have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting record(s).</argument>
        </arguments>
    </type>

    <preference for="Emakina\Blog\Api\Data\PostInterface" type="Emakina\Blog\Model\Post" />
    <preference for="Emakina\Blog\Api\PostRepositoryInterface" type="Emakina\Blog\Model\PostRepository" />
    
    <preference for="Emakina\Blog\Api\Data\CommentInterface" type="Emakina\Blog\Model\Comment" />
    <preference for="Emakina\Blog\Api\CommentRepositoryInterface" type="Emakina\Blog\Model\CommentRepository" />
    
</config>

